
/*fontsquirrel.com*/


/*When making font woff, choose expert and make character type the neccessary type!*/
/*Use google fonts! But if you need a specific font type use this approach!*/

@font-face {
  font-family: 'opensans';
  src: url('fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
       url('fonts/open-sans/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'opensans';
  src: url('fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
       url('fonts/open-sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}



body {
  margin: 10px;
  font-family: "opensans", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  /*
  bold === 700;
  normal === 400;
  */
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
  color: #333;
}