/*Do not use floats! Use flexbox or grid!*/

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  float: left;
  margin-right: 0.5rem;
}

.tweet {
  border: 3px solid gold;
}


/*Now you can use it anywhere*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*The value of the float needs to be same with clear or at least should intersect*/
.clear {
  clear: both;
}