.container {
  border: 3px solid lightgray;
  display: flex;
  /*flex-direction: column;*/
  /*flex-direction: column-reverse;*/
  /*flex-direction: row-reverse;*/
  /*justify-content: flex-end;*/
  /*justify-content: space-evenly;*/
  /*justify-content: space-between;*/
  /*justify-content: space-around;*/
  justify-content: center;
  /*align-items: flex-end;*/
  align-items: center;
  height: 90vh;
  flex-wrap: wrap;
  align-content: center;
}

.box {
  width: 5rem;
  height: 5rem;
  background: gold;
  margin: 1rem;
}