.container {
  display: flex;
  height: 90vh;
  border: 3px solid yellow;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.box {
  height: 5rem;
  width: 5rem;
  background: gold;
  margin: 1rem;


  /*By default flex-basis is auto. It will look at the width of the element.*/
  /*Now it will override the 5rem width*/
  /*flex-basis: 10rem;*/
  flex-basis: 15rem;

  /*flex-shrink: 0;*/
}


/*
flex-basis (the initial size of a flex item)
flex-grow (the growth factor)
flex-shrink (the shrink factor)
flex
ALL IF THESE SHOULD BE APPLIED TO THE FLEXBOX ELEMENT, NOT THE FLEXBOX ITSELF!
*/

/*flex-grow: 1 === flex: 1*/

.box-one {
  /*align-self: flex-start;*/
  flex-grow: 1;
  /*flex-shrink: 5; Shrink 5 times more!*/
}